section.employees
	.wrapper
		.employe
			.employe__desc.employe-block1
				span
					|Наши сотрудники
			.employe__desc.employe-block2
				span
					|Просветляет понимающий тест
			.employe__desc.employe-block3
				span
					|Конформизм
			.employe__desc.employe-block4
				span
					|Интроекция
			.employe__desc.employe-block5
				span
					|Наши сотрудники
