section.geniuses
	.wrapper
		.genius
			.genius__desc.genius-text
				p
					|Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл.
					|Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
			.genius__desc.genius-sub
				span
					|Чувство однократно
			.genius__desc.genius-moreno
				span
					|Морено
