section.lasts
	.wrapper
		.last
			.last__desc.last-block1
				span
					|Лидерство
			.last__desc.last-block2
				span
					|Однако
			.last__desc.last-block3
				span
					|Невероятный гений
			.last__desc.last-block4
				span
					|Точка перегиба
			.last__desc.last-block5
				span
					|Длина вектора
