section.upgrades
	.wrapper
		.upgrade
			.upgrade__desc.upgrade-concept
				span
					|Понятие модернизации понимает механизм власти
			.upgrade__desc.upgrade-employees
				.upgrade-employees__img.sprite-ship
					span
						|Наши сотрудники
			.upgrade__desc.upgrade-forms
					.upgrade-form
						.upgrade-form__text
							span.upgrade-form__word
								|Фамилия
						.upgrade-form__dash
						.upgrade-form__page
							span.upgrade-form__word
								|Мамай
					.upgrade-form
						.upgrade-form__text
							span.upgrade-form__word
								|Имя и отчество
						.upgrade-form__dash
						.upgrade-form__page
							span.upgrade-form__word
								|Станиславаленина
							<br />
							span.upgrade-form__word
								|Владимировна
					.upgrade-form
						.upgrade-form__text
							span.upgrade-form__word
								|Номер полиса выдан заведомо
							<br />
							span.upgrade-form__word
								|ложный
						.upgrade-form__dash
						.upgrade-form__page
							span.upgrade-form__word
								|01354879
					.upgrade-form
						.upgrade-form__text
							span.upgrade-form__word
								|Дата рождения
						.upgrade-form__dash
						.upgrade-form__page
							span.upgrade-form__word
								|01.12.1976
					.upgrade-form
						.upgrade-form__text
							span.upgrade-form__word
								|Телефон
						.upgrade-form__dash
						.upgrade-form__page
							span.upgrade-form__word
								|+79254218069
