.footer {
	background-color: $color-silver;
	height: 90px;
	width: 100%;
	margin-bottom: 10px;

	&__title {
		padding: 35px 0;
		margin: 0 auto;
		width: 65px;
		height: 20px;
		font-family: $font-family-roboto;
		font-weight: normal;
		font-size: 24px;
		line-height: 20px;
		font-style: normal;
	}
}
