.lasts {
	margin-bottom: 10px;

	@include mobile {
		order: 3;

	}
}

.last {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "block1 block2 block2""block3 block4 block5";

	@include mobile {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "block2 block2""block4 block5""block1 block3";
	}

	&__desc {
		position: relative;
		height: 155px;
	}

	&-block1 {
		grid-area: block1;
		background-color: $color-hit-pink;
		@include blocks-flex-end;

		& span {
			@include bottom-text;
		}
	}

	&-block2 {
		grid-area: block2;
		background-color: $color-hit-pink;
		@include blocks-flex-end;

		& span {
			@include bottom-text;
		}
	}

	&-block3 {
		grid-area: block3;
		background-color: $color-carnation;
		@include blocks-flex-end;

		& span {
			@include bottom-text;

			@include mobile {
				padding-right: 15px;

			}
		}
	}

	&-block4 {
		grid-area: block4;
		@include blocks-flex-end;
		background-color: $color-hit-pink;

		& span {
			@include bottom-text;
		}
	}

	&-block5 {
		grid-area: block5;
		@include blocks-flex-end;
		background-color: $color-lavender-gray;

		& span {
			@include bottom-text;
		}
	}
}
